* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

:root {
    --main-font: 'Roboto Mono', monospace;
    --main-color: #DADDE1
}

body {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* HEADINGS */
h2 {
    font-family: var(--main-font);
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 10px;
}

h4 {
    font-family: var(--main-font);
    font-weight: 400;
    text-align: center;
}

h5 {
    margin-top: 20px;
    margin-right: 20px;
}

p {
    font-family: var(--main-font);
    margin-top: 1rem;
    margin-bottom: 5px;
}

/* CONTAINER */
.container {
    width: 620px;
    height: 420px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.411);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;

}

input {
    height: 50px;
    width: 400px;
    font-size: 2rem;
    font-family: var(--main-font);
    font-weight: 200;
    padding: 2px;
}

input:invalid {
    border: 3px solid red;
}

select {
    width: 200px;
    font-size: 1rem;
    padding: 2px;
}

/* BUTTONS */

.btn, .saveBtn, .viewCardsBtn, .returnBtn {
    background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    background-color: #ededed;
    border-radius: 5px;
    border: 1px solid #000;
    display: inline-block;
    cursor: pointer;
    color: #000;
    font-family: var(--main-font);
    font-size: 1rem;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #e1e2ed;
    margin-top: 1rem;
}

.btn:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
}

.saveBtn:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
}

.viewCardsBtn:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
}

.returnBtn:hover {
    background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
    background-color: #bab1ba;
}

.btn:active {
    position: relative;
    top: 1px;
}

.saveBtn:active {
    position: relative;
    top: 1px;
}

.viewCardsBtn:active {
    position: relative;
    top: 1px;
}

.returnBtn:active {
    position: relative;
    top: 1px;
}

/* MESSAGE AND OPTIONBOX */

.optionBoxNone {
    display: none;
}

.list-cards {
    width: 620px;
    height: 320px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.411);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 20px;
    padding: 0 50px;
}

.hide {
    display: none;
}

.inner-list {
    display: flex;
}